@charset "UTF-8";
/* CSS Document */

body {
	font: 12px "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	line-height:120%;
}

::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-thumb:vertical {
    width:1px;
    background-color: #000;
    border-right: 4px solid #fff;
}

a:link {
	color: #666;
	text-decoration: none; 
}
a:visited {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #CCC;
	text-decoration: none;
}

b {
    color:#83C8FF;
}

i {
    color:#0EE400;
}

h1 {
    font:30px Verdana, Geneva, sans-serif;
    margin:0;
}

h2 {
    font:26px Verdana, Geneva, sans-serif;
    margin:0;
}

h3 {
    font:22px Verdana, Geneva, sans-serif;
    margin:0;
}

h4 {
    font:18px Verdana, Geneva, sans-serif;
    margin:0;
}

#content {
    width:40%;
    margin:5% auto;
    padding:20px;
    border:1px solid #ffd1d1;
}

.butt {
    display:inline-block;
    width:60px;
    margin:5px auto;
    padding:7px;
    border:3px solid #ffd1d1;
    -webkit-transition: all .3ms ease-in-out;
    -moz-transition: all .3ms ease-in-out;
    -ms-transition: all .3ms ease-in-out;
    -o-transition: all .3ms ease-in-out;
    transition: all .3ms ease-in-out;
}

.butt a:link, a:visited {
    text-decoration:none;
    color:#ff8282;
    -webkit-transition: all .3ms ease-in-out;
    -moz-transition: all .3ms ease-in-out;
    -ms-transition: all .3ms ease-in-out;
    -o-transition: all .3ms ease-in-out;
    transition: all .3ms ease-in-out;
}

.butt a:hover {
    text-decoration:none;
    color:#fff;
    -webkit-transition: all .3ms ease-in-out;
    -moz-transition: all .3ms ease-in-out;
    -ms-transition: all .3ms ease-in-out;
    -o-transition: all .3ms ease-in-out;
    transition: all .3ms ease-in-out;
}

.butt:hover {
    background:#ffd1d1;
    color:#fff;
    -webkit-transition: all .3ms ease-in-out;
    -moz-transition: all .3ms ease-in-out;
    -ms-transition: all .3ms ease-in-out;
    -o-transition: all .3ms ease-in-out;
    transition: all .3ms ease-in-out;
}